body {
  font-family: "Helvetica Neue"; 
}

.wrapper {
  display: none;
}

.webcamVideo {
  width: 425px;
}

.volumeMeter {
  width: 52px;
}

.webcamVideoStats, .volume-text {
  margin-top: 0.5em;
}

.webcam, .volumeMeter {
  display: inline-block;
  text-align: center;
}

.webcamVideo {
  border: 1px solid black;
}

.notes {
  margin-top: 2em;
}